@model IEnumerable<Student>

<h2> Student List</h2>
<a href="/Student/Create" class="btn btn-primary">Öğrenci Ekle</a>
<hr>


<table class="table table-bordered">
    <thead>
        @* row *@
        <tr>
            @* columns *@
            @*  <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Lastname</th> *@
            <th style="width: 150px;">@Html.DisplayNameFor(name => name.StudentId)</th>
            <th>@Html.DisplayNameFor(name => name.StudentName)</th>
            <th>@Html.DisplayNameFor(name => name.StudentLastName)</th>

            <th style="width: 150px;"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelitem => item.StudentId)</td>
                <td>@Html.DisplayFor(modelitem => item.StudentName)</td>
                <td>@Html.DisplayFor(modelitem => item.StudentLastName)</td>
                <td>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
